* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
p {
    color: #796c5c;
}

.page-header {
    top: 0;
    height: 52px;
    opacity: unset;
}

.hamburger {
    position: relative;
    z-index: 50;
    width: 48px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: relative;
    padding: 0 25px;
    background: rgba(0, 0, 0, .25);
    box-shadow: 0 10px 30px rgb(162 168 169 / 32%)
}

.middle-division ul {
    list-style-type: none;
}


.middle-division ul li a,
.dropbtn {
    color: rgba(255, 255, 255, .65);
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

/* .dropbtn{
    position: absolute;
    top: 0%;
} */

.middle-division ul li a:hover {
    color: #fff;
    transition: all 0.3s ease-in;
    background-color: transparent;
}

#home {
    color: #fff;
}

.btn-primary,
.btn-secondary {
    background: transparent;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
}

.btn-secondary {
    display: none;
}

nav {
    margin: 0 auto;
    max-width: 760px;
}

.navigation {
    list-style: none;
    padding: 0;
    position: absolute;
    top: 0%;

}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a,
.dropbtn {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;

}

.responsive li {
    display: block;
}

.navigation a.ham::before {
    content: "\2630";
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.responsive {
    background: #00000061;
    ;
}

#services:checked~.dropdown-content {
    display: block;
    max-height: 200px;
}

#services {
    display: none;
}

.dropdown-content {
    display: none;
}

.dropdown-content li a {
    padding: 15px;
}


/* MAIN */

main .main-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    margin-top: -52px;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    z-index: -1;
}

.suits-img {
    width: 100%;
    padding-bottom: 56.25%;
    margin-top: -52px;
}

h3 {
    width: 150px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0 30px 0;
    letter-spacing: 2px;
    font-weight: 100;
}

#near,
.near {
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
}

h4 {
    font-size: 19px;
    padding: 35px 0 10px 20px;
    letter-spacing: 2px;
    font-weight: 100;
    text-transform: uppercase;
}

h5 {
    font-size: 16px;
    padding: 15px 0 5px 20px;
    letter-spacing: 2px;
    font-weight: 100;
    text-transform: uppercase;
}


.info-text {
    width: 235px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
}

.information .second-video {
    height: 27vh;
    display: block;
    padding: 80px 0;
    border: none;
    margin: auto;

}

.text-center,
.slide-text {
    text-align: center;
    display: block;
}

.stay {
    background: transparent;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    color: #796c5c;
}

.book {
    background: transparent;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    color: #796c5c;
    padding-bottom: 50px;
}

.trans-divide,
.stay-divide,
.stay-divide-book,
.stay-divide-contact {
    display: block;
    height: 2px;
    margin: auto;
    background-color: #796c5c;
    opacity: 0.2;
    width: 100px;
}

.stay-divide {
    height: 3px;
    width: 63px;
}

.stay-divide-book {
    height: 3px;
    width: 63px;
    margin-bottom: 50px;
}

.stay-divide-contact {
    height: 3px;
    width: 150px;
    margin-bottom: 50px;
}

/* CSS for slideshow */

.slideshow-container {
    /* position: relative; */
    margin: auto;
    top: 47%;
    width: 95%;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #796c5c;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    top: 50%;
}

.three-dots {
    text-align: center;
    padding-bottom: 30px;
}

.active,
.dot:hover {
    background-color: #807566;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.fade img {
    width: 100%;
    height: auto;
    padding-top: 50px;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* End of CSS for slideshow */

.explore {
    color: #796c5c;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 50px;
    border: 1px solid #796c5c;
}

.explore:hover {
    color: #fff;
    background-color: #796c5c;
    transition: all 0.3s ease-in;
}

.slide-text p {
    padding-bottom: 60px;
}

figcaption {
    color: #796c5c;
    text-transform: capitalize;
}

.future-forecast {
    padding: 10px;
    display: flex;
    color: #796c5c;
    overflow-y: hidden;
}

.future-forecast .weather-forecast {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.weather-forecast-item {
    padding: 15px 20px;
    border: 1px solid #796c5c;
    margin: 0 20px;
    align-items: center;
}

.day-title {
    text-align: center;
}

.weather-forecast .weather-forecast-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #796c5c84;
    padding: 15px;
    width: 130px;
}

.weather-divide {
    width: 210px;
    margin-left: auto;
    margin-right: auto;
}

.accordion__controls {
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
    width: 100%;
    max-width: 280px;
    list-style: none;
}

/* WEDDING */

.accordion__btn {
    position: relative;
    padding: 15px 30px;
    padding-right: 60px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: .36rem;
    border-top: 1px solid rgba(0, 0, 0, .25);
    text-decoration: none;
    color: #796c5c;
}

#desserts-img,
#beverage-img,
#dinner-img,
#lunch-img {
    display: none;
}

.accordion__btn:hover {
    cursor: pointer;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    width: 95%;
    height: auto;
}

/* missionary services */

.capacity,
.capacity-size,
.bed-size,
.desert,
.mountain {
    display: flex;
    align-items: center;
    margin: auto;
    width: 85%;
    padding-left: 10px;
}

.capacity-size,
.bed-size,
.mountain {
    border-bottom: 1px solid rgba(0, 0, 0, .25);
}

.img-cont {
    text-align: center;
}

.capacity-suits,
.capacity-suits,
.capacity-views {
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0 10px 0;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 19px;
    padding-left: 25px;
}

.single-suit,
.premium-suit,
.luxury-suit {
    height: auto;
    padding-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.capacity-flex,
.bed-flex,
.view-flex {
    margin-right: auto;
    margin-left: auto;
    width: 250px;
}

/* TEMPLES PAGE */

.temp-info {
    padding: 5px 25px;
}

.temp-title {
    text-align: center;
}

.heart-btn {
    position: absolute;
    top: 18%;
    left: -3%;
    transform: translate(-50%, -50%);
}

.heart {
    position: absolute;
    background: url(img.png) no-repeat;
    background-position: left;
    height: 90px;
    width: 90px;
}

.heart.heart-active {
    animation: animate .8s steps(28) 1;
    background-position: right;
}

@keyframes animate {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

/* RESERVATION PAGE */

form {
    margin: 0 auto;
    padding: 1em;
    margin-bottom: 50px;
}

#myBtn {
    height: 35px;
    color: white;
    font-size: 20px;
    border: none;
    width: 100%;
    background-color: #796c5c;
}

#myBtn:hover {
    color: #796c5c;
    background-color: transparent;
    border: 1px solid #6B6764;
}

form label,
form input,
textarea,
.level {
    display: block;
    width: 100%;
    padding: 2px;
    color: #796c5c;
}

label input {
    display: inline;
    width: auto;
}

.description {
    padding: 20px 0 5px 0;
}

.container {
    background: white;
    border-radius: 10px;
    width: 288px;
}

.container .inputs {
    height: 40px;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

.container .inputs input {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}

.container .inputs input:focus {
    border-color: #6B6764;
}

.container .inputs label {
    position: absolute;
    bottom: 10px;
    left: 0;
    font-size: 16px;
    transition: 0.3s;
}

.container .inputs input:focus~label,
.container .inputs input:valid~label {
    transform: translateY(-23px);
    color: #6B6764;
}

form label.required::after {
    content: " *";
    color: #6B6764;
}

#benefits,
#benefits2,
#benefits3,
#benefits4 {
    display: none;
}

.member1 {
    color: #6B6764;
    padding: 10px;
}

.member2 {
    color: #6B6764;
    padding: 10px;
}

.member3 {
    color: #6B6764;
    padding: 10px;
}

.reser-date{
    display: flex;
    text-align: center
}

/* AMENITIES PAGE */

.offer{
    padding-left: 10px;
}

/* FOOTER */

.join-us {
    text-align: center;
    background-color: #6B6764;
    padding: 10px;
    margin-top: 55px;
}

h2 {
    padding: 10px;
}

.join-us .text-center {
    text-align: center;
    display: block;
}

.join {
    color: white;
    margin: 0 auto;
}

input {
    width: 85%;
    padding: 10px;
    text-align: center;
}

.join-button {
    background: #796c5c;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    color: white;
    padding: 15px;
    margin: 15px 0;
}

.header-social a {
    align-items: center;
    display: inline-block;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.icon {
    padding: 6px;
    font-size: 23px;
    color: white;
}

.social,
.footer-nav li {
    text-align: center;
    padding: 5px;
}

.second-footer {
    background-color: #6B6764
}

.footer-nav li a {
    color: rgba(255, 255, 255, .65);
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
}

.logo-footer {
    text-align: center;
    padding-top: 10px;
}

.logo-footer img {
    width: 300px;
    height: auto;
}


@media only screen and (min-width: 375px) {

    .single-suit,
    .premium-suit,
    .luxury-suit {
        width: 90%;
    }
}

@media only screen and (min-width: 425px) {

    .information .second-video {
        height: 35vh;
        width: 29vh;
    }

    .capacity-flex,
    .bed-flex,
    .view-flex {
        width: 300px;
    }

    .temp-info,
    h4,
    h5 {
        margin-left: 20px;
    }
}

@media only screen and (min-width: 768px) {

    .information .second-video {
        height: 38vh;
        width: 29vh;
        padding-right: 50px;
    }

    .information {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        align-items: center;
    }

    .btn-secondary {
        display: contents;
    }

    .btn-primary {
        display: none;
    }

    .logo {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .flex-footer,
    .footer-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
    }

    .flex-footer {
        padding-bottom: 20px;
    }

    .weather-divide {
        width: 600px;
    }

    .three-image {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .imageone,
    .imagetwo,
    .imagethree {
        width: 70%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }

    .center-img {
        width: 80%;
        height: auto;
    }

    .flex-menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .info-text {
        width: 400px
    }

    .flex-div {
        display: grid;
        grid-template-columns: 1.3fr 1fr 1fr;
        justify-content: center;
        border-bottom: 1px solid rgba(0, 0, 0, .25);
        height: 200px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .capacity-size,
    .bed-size,
    .mountain {
        border-bottom: none;
    }

    .capacity-flex,
    .bed-flex {
        border-right: 1px solid rgba(0, 0, 0, .25);
        height: 80%;
        margin-top: 20px;
        margin-left: 10px;
    }

    .capacity-flex {
        margin-left: 30px;
    }

    .view-flex {
        margin-top: 20px;
        margin-left: 10px;
    }

    .capacity,
    .capacity-size,
    .bed-size,
    .desert,
    .mountain {
        padding-left: 20px;
    }

    .center-img {
        width: 95%;
    }

    .heart-btn {
        left: 2%;
        top: 20%
    }

    .temp-info,
    h4,
    h5 {
        margin-left: 50px;
    }

    .container{
        width: 450px;
    }
}

@media only screen and (min-width: 1024px) {

    .weather-divide {
        width: 780px;
    }

    .capacity-flex {
        margin-left: 60px;
    }

}

@media only screen and (min-width: 1100px) {
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        /* change state in small view */
        flex: 1 1 auto;
    }

    .navigation a {
        text-align: center;
    }

    .move-left {
        position: inherit;
        left: 140%;
    }

    .move-left2 {
        position: inherit;
        left: 165%;
    }

    .move-left2 a {
        width: 140px;
    }

    .weather-divide {
        width: 1000px;
    }

    .heart-btn {
        top: 30%;
        left: 4%;
    }
}